.container {
  position: relative;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 25px; 
  padding: 15px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 65%;
  margin-right: 15px; 
  border-radius:25px; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}


.profile{
  position: relative;
  border: 2px solid white;
  width: 25%;
  margin: 35px 35%;
  padding:15px;
}

input[type=text], input[type=password]{
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  border:none;
}
form{
  text-align: center
}